@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background: white;
  color:darkgreen;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
 }

 .site-logo{
  height: 10%;
  width: 10%;
}

.lead, .col-lg-4 {
  color: black;
}

.nome-diretor{
  color: black;
}


/* container com a perspectiva */
.flip-container {
	perspective: 1000;
}
	/* feito com o hover */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* velocidade da animação */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* esconder parte de trás do painel durante a troca */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* coloca o painel frontal acima */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* painel de volta, inicialmente escondido */
.back {
	transform: rotateY(180deg);
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width:300px;
  height:300px;
  font-size:40px;
  line-height:300px;
  font-family: 'Lato', sans-serif; font-weight:900;
  text-shadow: 1px 1px 1px black;
  cursor:pointer;
  border-radius: 10px;
 
}

.box-front{
  background:#034115;
  color: white;
}
.box-back{
  background:#f7ae06;
  font-size: 12px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

.lead
{
  text-align: justify;
}

/* O container geral define a perspectiva */  
.flip-container { perspective: 1000; }  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 320px;  	
  height: 480px;  
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
}
    
/* frente posicionada sobre o verso */
.front { z-index: 2;  }    

/* verso inicialmente escondido */
.back { transform: rotateY(180deg); }

.foto3x4, .logo_kids, .logo_pro {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto 
 }
 .Diretoria, .kids_turmas, .row{
  padding-top: 10%;
  text-align: center;

 }

.mapa, .formulario{
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  color:black;
  text-align: center;
}
.endereço_contato{
  align-content: center;
}

.logo{
  max-width: 50%;
  max-height: 50%;
}

.featurette-heading, .titulo{
  font-weight: bold;
  color: darkgreen;
}
.redes_sociais{
  padding-left: 20%;
  padding-right: 20%;
}

.facebook, .instagram, .whatsapp{
  padding-left:5%;
}

.rodape {
 background-color: darkgreen;
 color: white;


} 
.nav{
  text-decoration: none;
  color: white;
}

.nav:hover{
  color: black;
}

.video-abertura{
  padding-top: 8%;
  opacity : 0.4;
}

.patrocinadores{
  opacity : 0.6;
  max-height: 80%;
  max-width: 80%;
  }

.video-abertura:hover, .video-abertura:visited, .video-abertura:active, .patrocinadores:hover{
  opacity : 1;
}

.facebook_icon, .instagram_icon, .whatsapp_icon{
  max-width: 20%;
  max-height: 20%;
}


.patrocinadores-apoiadores{
  padding-bottom: 30%;
}
.titulo-projetos{
  padding-top: 10%;
  text-align: justify;
}

.Depoimento{
  padding-top: 10%;
}


.dep1{
  background-color: darkred;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}
.dep2{
  background-color: darkblue;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: double;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}
.dep3{
  background-color: darkgreen;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: double;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}


.dep3:hover, .dep1:hover, .dep2:hover{
  font-size: 150%;

}
